version: '3'

services:

  osticket:
    build: .
    image: osticket/osticket
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_DATABASE=osticket
      - MYSQL_USER=osticket
      - MYSQL_PASSWORD=0T1cket

      # CHANGE ME
      - INSTALL_SECRET=secret

      - LANGUAGE=fa

      - HOST=localhost:80
      - ROOT_PATH=/
    links:
      - mysql:mysql
    ports:
      - "5335:80"
    restart: always

  mysql:
    image: mariadb
    environment:
       - MYSQL_RANDOM_ROOT_PASSWORD=true
       - MYSQL_DATABASE=osticket
       - MYSQL_USER=osticket
       - MYSQL_PASSWORD=0T1cket
    restart: always
